<div class="search-pop-overlay">
    <div class="popup search-popup"><div class="search-header">
    <span class="search-icon">
      <i class="fa fa-search"></i>
    </span>
    <div class="search-input">
      <input autocomplete="off" autocapitalize="off" maxlength="80"
             placeholder="recherche" spellcheck="false"
             type="search" class="local-search-input">
    </div>
    <span class="popup-btn-close" role="button">
      <i class="fa fa-times-circle"></i>
    </span>
  </div>
  <script type="text/javascript" id="local.search.active">
    var inputArea       = document.querySelector(".local-search-input");
 
    </script>
  <div class="search-result-container no-result">
    <div class="search-result-icon">
      <i class="fa fa-spinner fa-pulse fa-5x"></i>
    </div>
  </div></div></div>
  