<% if (theme.sidebar.tldr && theme.sidebar.tldr.length){ %> <% theme.sidebar.tldr.forEach(function(tldr){%>
<span><b> <%=tldr.title%></b></span>
<p>
	<%-tldr.content%>
</p>
<hr />

<% })} %> <% if(theme.sidebar.twitter.enabled){
	theme.sidebar.twitter.username.map((profname)=>{ %>

<span
	><a href="https://x.com/<%=profname%>" target="_blank" rel="noopener"
		><b
			><i class="fab fa-twitter-square"></i>
			<i class="fas fa-at"></i>
			<%=profname%></b
		></a
	></span
>

<br />

<% })} %>
